<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>缴费离开</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">缴费离开</h1>

    <div class="table-responsive w-100">
        <table class="table table-striped table-sm">
            <tbody>
            <tr>
                <td class="w-50">停车信息id</td>
                <td class="w-50" th:text="${parkingInfo.getParkingId()}"></td>
            </tr>
            <tr>
                <td class="w-50">车牌号</td>
                <td class="w-50" th:text="${parkingInfo.getPlateNumber()}"></td>
            </tr>
            <tr>
                <td class="w-50">进入时间</td>
                <td class="w-50" th:text="${parkingInfo.getEnterTime()}"></td>
            </tr>
            <tr>
                <td class="w-50">离开时间</td>
                <td class="w-50" th:text="${parkingInfo.getLeaveTime()}"></td>
            </tr>
            <tr>
                <td class="w-50">应缴金额</td>
                <td class="w-50" th:text="${parkingInfo.getAmountPayable()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-lg btn-primary btn-block" th:href="@{/pay/success}">缴费离开</a>

</div>

</body>

</html>